html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  background-color: rgb(255, 230, 200);
}

body {
  width: 960px;
  margin: 0 auto;
  background-color: rgb(255, 202, 137);
  padding: 0 20px 20px 20px;
}

h1 {
  margin: 0;
  padding: 20px 0; 
  color: rgb(137, 247, 255);
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 1px black; 
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}